@model IEnumerable<Ksiegarnia.Models.Genre>

<h1>Gatunki</h1>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Utwórz nowy gatunek</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nazwa gatunku</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>
            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.Id })">Edytuj</a>
            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Id })">Usuń</a>
        </td>
    </tr>
    }
    </tbody>
</table>
