@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Ksiegarnia.NET!</h1>
</div>

<h2>Dostępne książki</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Gatunek</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in ViewBag.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author.Name</td>
            <td>@book.Genre.Name</td>
        </tr>
    }
    </tbody>
</table>