@{
    ViewData["Title"] = "Witamy w Ksiegarnia.NET!";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Ksiegarnia.NET!</h1>
    <p class="lead">Odkryj fascynujący świat książek i zacznij swoją literacką podróż już teraz.</p>
    
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
        </p>
    }
</div>

<hr>

<h2>Dostępne książki</h2>

@if (!User.Identity.IsAuthenticated)
{
    <p>Przejrzyj naszą wybraną kolekcję książek. Chcesz więcej? Zarejestruj się, aby uzyskać pełny dostęp!</p>
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Gatunek</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in ViewBag.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author.Name</td>
            <td>@book.Genre.Name</td>
        </tr>
    }
    </tbody>
</table>

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center mt-4">
        <p><strong>Zarejestruj się, aby uzyskać dostęp do pełnej kolekcji książek i cieszyć się dodatkowymi korzyściami!</strong></p>
    </div>
}